@import "tailwindcss";

:root {
  --background: #f4f3ee;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument-sans), 'Instrument Sans', Arial, Helvetica, sans-serif;
}